body {
    padding: 0px;
    margin: 0px;
}
nav {
    background-color: black;
    color: white;
    padding: 8px;
}
a {
    color: white
}

button {
    height: 4rem;
    width: 16rem;
    color: white;
    border-radius: 15px;
    margin: 10px;
   padding: 10px;

   font-size: 22px;
   border: 0px;
}

.btn1 {
    background-color: black;
    border: 1px grey solid;

}

.btn2 {
    background-color: #4c5fd5;
}

main div {
    height: 10rem;
    width: 10rem;
    background-color: #4c5fd5;
    margin: 10px;

}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}